/*
 Theme Name:   Thème Adullact.org
 Theme URI:    https://gitlab.adullact.net/adullact/theme-wordpress-adullact-org
 Description:  Thème Adullact.org (fils de TwentySeventeen)
 Author:       Adullact
 Author URI:   https://adullact.org
 Template:     twentyseventeen
 Version:      0.8
*/
/*************************************************************/
/* Police d'écriture */
/*************************************************************/
/*
Gravity
Gravity light      --> font-weight: 300
Gravity semi-bold  --> font-weight: 600
Gravity bold       --> font-weight: bold
Gravity Extrabold  --> font-weight: 900
*/

@font-face {
    /* Normal */
    font-family: "Gravity";
    src: url("fonts/Gravity-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /* Light */
    font-family: "Gravity";
    src: url("fonts/Gravity-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    /* Bold */
    font-family: "Gravity";
    src: url("fonts/Gravity-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    /* Bold Italic */
    font-family: "Gravity";
    src: url("fonts/Gravity-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    /* Italic */
    font-family: "Gravity";
    src: url("fonts/Gravity-Italic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    /* Light Italic */
    font-family: "Gravity";
    src: url("fonts/Gravity-LightItalic.otf");
    font-weight: 300;
    font-style: italic;
}


* {
    font-family: Gravity, sans-serif;
}

/*************************************************************/
/* Surcharge balises HTML */
/*************************************************************/
a {
    color: #4B7D95;
    text-decoration: underline;
}

h1, h2 {
    color: #4B7D95;
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

label {
    font-weight: normal;
}

input[type="search"] {
    padding: 0.3em;
    font-size: 0.8em;
}

/*************************************************************/
/*classes de base adullact*/
/*************************************************************/
.adullact-blue {
    color: #4B7D95;
}

.adullact-required {
    color: red;
}

.adullact-error {
    color: red;
}

.adullact-button {
    border-radius: 3px;
    border: 1px solid grey;
    color: grey;
    transition: background-color 0.2s ease;
    padding: 7px;
    font-size: 1em;
}

.adullact-button:hover {
    color: dimgrey;
    background-color: lightgrey;
}

.adullact-no-padding {
    padding: 0 !important /*lorsqu'on applique cette classe à un élément html, on veut à tout prix qu'elle prenne le dessus*/;
}

.adullact-no-height-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.adullact-no-top-padding {
    padding-top: 0;
}

.adullact-justify {
    text-align: justify;
}

/*************************************************************/
/* Surcharge Classes wordpress */
/*************************************************************/
@media screen and ( min-width: 67em ) {
    .wrap {
        padding: 28px;
    }
}

.site-footer {
    margin-top: 0;
}

#content {
    padding: 0;
}

.entry-content p {
    text-align: justify;
}

article .entry-footer {
    border-top: none;
    margin-top: 0;
}

.blog:not(.has-sidebar) #primary article {
    width: 100%;
    float: none;
}

.entry-title {
    color: #4B7D95;
}

.page-header {
    padding-bottom: 0;
}

.archive:not(.page-one-column):not(.has-sidebar) #primary article {
    width: 100%;
    float: none;
}

body:not(.has-sidebar):not(.page-one-column) .page-header {
    float: none;
}

.search-form .search-submit .icon {
    height: 18px;
    top: -10px;
    width: 18px;
}

.search-form .search-submit {
    padding: 0.5em 0.5em;
}

/*************************************************************/
/* Header */
/*************************************************************/

#logo-adullact-big, #logo-adullact-small {
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.adullact-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.adullact-searchbar-parent {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: end;
}

.adullact-reseaux-sociaux {
    display: flex;
    flex-direction: row;
}

.adullact-reseaux-sociaux img {
    max-width: 2em;
    max-height: 2em;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.adullact-searchbar {
    width: 100%;
    margin-right: 0.7em;
    margin-top: 16px;
}

@media screen and ( max-width: 66.99em ) {
    .adullact-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .adullact-searchbar-parent {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 20em;
        align-items: center;
    }

    .adullact-searchbar {
        margin-bottom: 3em;
        width: 100%;
    }
}

@media screen and (max-width: 30em) {
    input[type="search"] {
        font-size: 1em;
    }

    .search-form .search-submit .icon {
        height: 18px;
        top: -2px;
        width: 18px;
    }
}

/*************************************************************/
/* Accueil */
/*************************************************************/

/*************************************************************/
/* Accueil > L'Adullact en quelques mots */
/*************************************************************/

#adullact-mainpage-text {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: white;
}

#adullact-mainpage-text h2 {
    font-weight: initial;
}

#adullact-mainpage-text a {
    /*text-decoration: underline;*/
    margin: auto;
    margin-right: 0;
    float: right;
}

#adullact-mainpage-text a:hover {
    color: #4B7D95;
}

/*************************************************************/
/* Accueil > Nos initiatives */
/*************************************************************/
#adullact-mainpage-frames {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: #4B7D95;
}

#adullact-mainpage-frames h2 {
    color: white;
    font-weight: bold;
}

.adullact-cadres-ligne-space {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adullact-cadres-column {
    display: flex;
    flex-direction: column;
}

.adullact-cadre {
    background-color: white;
    width: 280px;
    text-align: center;
    align-items: center;
    font-size: 1.7em;
    padding: 10px;
    padding-top: 20px;
    margin-top: 45px;
    box-shadow: 0 0 20px 1px #184A62;
    margin-bottom: 45px;
}

.adullact-cadre a {
    color: black;
    text-decoration: none;
}

.adullact-cadre a:hover {
    text-decoration: underline;
}

.adullact-cadre img {
    width: 55px;
    position: relative;
    top: 21px;
}

.adullact-cadre h3 {
    margin: 0;
    margin-top: -53px;
    margin-bottom: 12px;
    font-size: 1em;
}

.adullact-icone-service {
    border: 1px solid #4B7D95;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    top: -70px;
    background-color: white;
}

.adullact-description-cadre {
    font-size: 16px;
}

.adullact-cadres-ligne-center {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*************************************************************/
/* Accueil > Parallax */
/*************************************************************/
#adullact-parallax-1 {
    background: url("media/adullact/image_parallax_2.jpg") fixed;
    width: 100%;
}

.adullact-cadre-texte {
    width: 7.5em;
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.adullact-cadre-texte .adullact-front-page-number {
    font-size: 2em;
}

/*************************************************************/
/* Accueil > Articles récents */
/*************************************************************/

#adullact-mainpage-articles {
    background-color: #F5F5F5;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#adullact-mainpage-articles h2 {
    font-weight: initial;
    color: #393939;
}

.adullact-cadre-article {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    background-color: white;
    font-size: 1em;
    margin-bottom: 45px;
    box-shadow: 0 0 20px 1px #C8C8C8;
    min-height: 350px;
}

.adullact-cadre-article p {
    margin: 0;
    font-weight: bold;
    margin-bottom: 1em;
}

.adullact-cadre-article img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

/*************************************************************/
/* Liste des adhérents*/
/*************************************************************/

.adullact-members-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adullact-line-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adullact-line-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.adullact-member {
    word-wrap: break-spaces;
    margin: 10px;
    padding: 0;
    text-align: center
}

.adullact-member a {
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid aliceblue;
    transition: border 0.2s ease;
}

.adullact-member a:hover {
    border: 2px solid #4B7D95;
}

.adullact-member img {
    max-height: 180px;
    max-width: 180px;
    margin: 5px;
}

.adullact-member p {
    padding: 10px;
    border-bottom: 1px solid aliceblue;
    margin: 0;
    max-width: 190px;
}

.adullact-sort-button {
    border-radius: 3px;
    border: 1px solid grey;
    color: grey;
    transition: background-color 0.2s ease;
}

.adullact-sort-button:hover {
    background-color: lightgrey;
}

.adullact-sort-button a {
    transition: color 0.2s ease;
    color: grey;
    padding: 5px;
    display: block;
    border-radius: 2px;
}

.adullact-sort-button a:hover {
    color: dimgrey;
}

.adullact-selected {
    color: white;
    border: 1px solid #4B7D95;
    background-color: #4B7D95;
}

.adullact-selected:hover {
    background-color: #3f7ca2;
    border: 1px solid #3f7ca2;
}

.adullact-selected a:hover {
    color: white;
}

.adullact-selected a {
    color: white;
}

.adullact-member-list {
    list-style: none;
}

.adullact-member-list li {
    display: inline-block;
    margin: 7px;
}

#adullact-sort-by-type-buttons {
    width: 70%;
}

#adullact-sort-by-name {
    padding-left: 2%;
}

.adullact-page-link {
    padding: 8px 12px;
    background-color: aliceblue;
    margin: 3px;
}

.adullact-page-link-selected {
    background-color: #4B7D95;
}

/*************************************************************/
/*Formulaire d'adhésion*/
/*************************************************************/
#adullact-potdemiel {
    display: none !important;
    visibility: hidden !important;
}

#adullact-membership-form h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4B7D95;
    padding: 0;
}

.adullact-title {
    color: #4B7D95;
    font-weight: normal;
}

.divDescriptions {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#secondSelection {
    width: 220px;
}

#firstSelect {
    width: 220px;
}

#periodeAdhesionCollectivite {
    width: 220px;
    margin-bottom: 20px;
}

.PCOT {
    color: #4B7D95;
}

/*************************************************************/
/*Affichage évènement(s)*/
/*************************************************************/

#adullact-nombre-inscrits {
    float: right;
}

.adullact-underline {
    text-decoration: underline;
}

.adullact-spaced-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.adullact-evenement .link-more {
    text-align: right;
}

.adullact-evenement a {
    text-decoration: underline;
}

.eventless-pre {
    color: white;
}

/*************************************************************/
/*Affichage actualité(s)*/
/*************************************************************/

.adullact-read-more {
    color: #4B7D95;
}

.entry-content .more-link {
    display: inline;
}

.entry-content .more-link::before {
    display: inline;

}

.adullact-read-more:hover::before, .adullact-read-more:focus::before {
    text-decoration: underline;
    box-shadow: none;
}

.adullact-post-image {
    max-width: 300px;
    max-height: 300px;
}

.adullact-tag {
    border-radius: 3px;
    border: 1px solid grey;
    color: grey;
    transition: background-color 0.2s ease, color 0.2s ease;
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
}

.entry-footer .adullact-tag:hover, .entry-footer .adullact-tag:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.adullact-sort-button:hover {
    background-color: lightgrey;
    color: dimgrey;
}

.entry-header a {
    padding: 3px;
    padding-right: 6px;
}

/*************************************************************/
/*footer*/
/*************************************************************/
#adullact-footer ul {
    list-style: none;
    display: flex;
}

#adullact-footer li {
    padding-left: 7px;
    padding-right: 7px;
}

#adullact-contact-informations {
    text-align: center;
    padding: 7px;
}

.adullact-searchbar-socialnetworks {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    margin-bottom: 37px;
}

@media screen and ( max-width: 66.99em ) {
    .adullact-searchbar-socialnetworks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*************************************************************/
/*plan du site*/
/*************************************************************/
.entry-header {
    display: none;
}

body.page-two-column:not(.archive) #primary .entry-content {
    float: none;
    width: 100%;
}