/*"Aucun résultat : on cache car inutile*/
.tribe-events-notices{
    display:none;
}

#tribe-events-pg-template, .tribe-events-pg-template {
    max-width: 900px;
}

#tribe-events-header {
    display: none;
}
#tribe-events-footer {
    display: none;
}